<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon"  type="image/x-icon" href="../image/favicon.ico">
    <title>W3C Sneakers</title>
</head>
<body>
    <header class="topo">
        <div class="logo">
            <img src="../image/logo.png" alt="Logotipo do site w3c sneakers">
        </div>
        <nav class="menu">
            <div>

            </div>
            <ul>
                <li><a href="/pgHome" > HOME </a></li>
                
                <li><a href="/pgAnuncio" > ANUNCIE AQUI</a></li>
                <li><a href="/pgMarcas" > MARCAS </a></li>
            </ul>    
            <div class="login">
                <a href="/pgLogin">Entrar </a>                            
                <span style="margin: 0px 5px 0px 5px ;"> | </span>
                <a href="/pgCadastrar">Cadastrar</a>       
            </div>        
        </nav>
     
    </header>
    
    <section class="conteudo-usuario">                
        <div class="cadastrar">        
            <form action="#" method="post"> 
                <div class="topoform">
                    <h1>Cadastrar</h1>
                </div>               
                <div class="conteudoform">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" autofocus required>
                    <label for="email"> Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu email"  required>
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" id="usuario" placeholder="Digite seu usuário"  required>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                    <button>Cadastrar</button>
                </div>                
                
                
            </form>
        </div>                
    </section>
    <footer class="rodape">
        <div class="texto">
            <h2>Presidente Prudente - SP</h2>
            <p>Desenvolvido por:  Alunos do 2ºTermo da FIPP do curso de BSI</p>
        </div>
        <div class="menu-rodape">
        <h2>Paginas</h2>
        <div><a href="/pgHome">Inicio</a></div>
            
            <div><a href="/pgAnuncio">Anuncie Aqui</a></div>
            <div><a href="/pgLogin">Entrar</a></div>
            <div><a href="/pgCadastro">Cadastrar</a></div>
        </div>
    </footer>
</body>
</html>
